<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
    ~{base::layout(~{:: section})}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <section>
        <h1>this is About page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio asperiores quibusdam quae nihil doloremque, cum quam quasi, voluptate provident, labore delectus magni pariatur! Amet blanditiis laborum repellendus similique obcaecati. Iure!</p>
    </section>
</body>

</html>