<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="~{normal/base::layout(~{::section})}">
<!--  ~{base::layout(~{:: section})}-->

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Dashboard</title>
</head>

<body>
	<section class=" d-flex justify-content-center align-items-center">

		<div style="margin-top: 75px;" class="container ">
			<div class="row" th:if="${contact}">
				<div class=" col-md-6 offset-md-3">
					<div class="card">
						<h1 class="text-center mt-2">Update contact</h1>


						<!-- <div class="alert alert-danger" role="alert">this is static
							contact</div>
 -->
					<!-- 	here I submited update contact form to the same handler that is handled the add form  -->
						<form th:action="@{/user/update-process}" method="post"
							enctype="multipart/form-data" th:object="${contact}" class="mt-2">
							<div class="form-row align-items-center m-4"
								style="padding-left: 15px; padding-right: 15px;">

								<!-- For message print -->
								<div class=" text-center alert mb-3 p-0" role="alert"
									th:if="${session.message}"
									th:classappend="${session.message.type}">
									<!-- this is dynamic content -->
									<p th:text="${session.message.content}"></p>
									<p th:block="${@sessionHelper.removeMessageFromSession()}"></p>
								</div>

								<!-- id -->
								<div class="input-group mb-2">
									
									<input type="text" class="form-control" name="cId" id="id"
										placeholder="Enter cId" th:value="${contact.cId}"
										hidden="true">
								</div>

								<!-- name -->
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="name"
										id="inlineFormInputGroup" placeholder="Enter Name"
										th:value="${contact.name}">
								</div>


								<!-- nickName -->
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-user-alt"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="nickName"
										id="nickName" placeholder="Enter NickName"
										th:value="${contact.nickName}">
								</div>

								<!-- email -->
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">@</div>
									</div>
									<input type="text" class="form-control" name="email" id="email"
										placeholder="Enter email" th:value="${contact.email}">
								</div>

								<!-- work -->
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="work" id="work"
										placeholder="Enter work ." th:value="${contact.work}">
								</div>

								<!-- phone -->
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input type="number" class="form-control" name="phone"
										id="phone" placeholder="Enter phone no."
										th:value="${contact.phone}">
								</div>


								<!-- image -->
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-image"></i>
										</div>
									</div>
									<div class="container text-center mb-1">
									<img style="height: 100px; width: 100px;" class="contact_profile_pic" alt="" th:src="@{'/image/contact/' + ${contact.imageUrl}}">
									</div>
									<input type="file" class="form-control" name="imageFile"
										id="image" placeholder="" th:value="${contact.imageUrl}">
								</div>


								<!-- description -->
								<div class="form-group mt-3">
									<textarea class="form-control" name="description"
										id="description" rows="15"
										placeholder="Enter contact description"
										th:text="${contact.description}"> </textarea>
								</div>


								<div class="container mt-2 text-center">
									<button type="submit"
										class="btn btn-outline-primary text-white my-bg-primary mb-2">Update
										Contact</button>
								</div>

							</div>

						</form>
					</div>

				</div>
			</div>

			<!-- else part if contact is not present here -->
			<div th:unless="${contact}" class="text-center">
				<h1 class="bg-danger p-3 m-3">You can not allow to update other
					users contact....</h1>


				<a th:if="${add}" class="btn btn-primary"
					th:href="@{/user/show-contacts/0}">Go back.</a>
			</div>
		</div>




	</section>
</body>

</html>